:root {
    --cor-fundo: #F9F9F9;
    --texto-cinza: #555555;
    --cor-tag: white;

    --cor-fundo-desafio: #FFF3E0;
    --cor-desafio: #E65100;

    --cor-fundo-anuncio: #E8F5E9;
    --cor-anuncio: #1B5E20;

    --cor-fundo-informacao: #E3F2FD;
    --cor-informacao: #0D47A1;

    --cor-fundo-lembrete: #FFFDE7;
    --cor-lembrete: #F57F17;

    --cor-primaria: #FF6517;
    --cor-segundaria: #FF822E;
    --cor-tercearia: #EF5411;
}

header {
    text-align: center;
    margin-bottom: 28px;
}

.icone-voltar {
    color: black;
    font-size: 42px;
}

.titulo {
    margin-bottom: 0px;
}

.botoes {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    gap: 16px;
}

button {
    font-size: 20px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
}

.botao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(135deg, var(--cor-primaria) 0%, var(--cor-segundaria) 100%);
    box-shadow: 0px 0px 15px rgba(255, 101, 23, 0.5);
    border-radius: 14px;
    padding: 18px;
    color: white;
}

.botao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--cor-fundo); 
    border: 2px solid var(--cor-tercearia); 
    border-radius: 14px; 
    padding: 18px; 
    color: var(--cor-tercearia);
}

form {
    display: flex; 
    flex-direction: column;
    gap: 16px;
}

.campo-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 20px 18px 20px 56px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    border-radius: 14px;
    outline: none;
    transition: border-color 0.25s;
}

.icone-campo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

input:focus {
    border-color: var(--cor-segundaria);
}

.mensagem-erro {
    color: #dc3545;
    font-size: 15px;
    margin-top: 8px;
}