:root {
    --cor-fundo: #F9F9F9;
    --texto-cinza: #555555;
    --cor-tag: white;

    --cor-fundo-desafio: #FFF3E0;
    --cor-desafio: #E65100;

    --cor-fundo-anuncio: #E8F5E9;
    --cor-anuncio: #1B5E20;

    --cor-fundo-informacao: #E3F2FD;
    --cor-informacao: #0D47A1;

    --cor-fundo-lembrete: #FFFDE7;
    --cor-lembrete: #F57F17;

    --cor-primaria: #FF6517;
    --cor-segundaria: #FF822E;
    --cor-tercearia: #EF5411;
}

#turma-header {
    background-color: var(--cor-primaria);
    color: white;
    padding: 20px;
}

#turma-header > h1 {
    margin-top: 12px;
    margin-bottom: 0px;
}

#turma-header > p {
    margin-top: 10px;
    margin-bottom: 24px;
}

#icone-voltar {
    color: white;
}

#icone-voltar > span {
    font-size: 42px;
}

#tags {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    font-weight: 600;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--cor-tag);
    color: var(--cor-primaria);
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 20px;
    width: 100%;
}

.tag > span {
    font-size: 28px;
}

.tag > p {
    margin: 0px;
}

.tag2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-tag);
    color: var(--cor-tag);
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
}

.tag2 > span {
    font-size: 28px;
}

.tag2 > p {
    margin: 0px;
}

main {
    justify-content: flex-start;
}

#descricao {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px; 
    padding: 12px;
    margin-bottom: 40px;
}

#descricao > h2 {
    color: var(--cor-primaria);
    margin: 5px 0px 14px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#descricao > h2 > span {
    font-size: 28px;
}

#descricao > p {
    color: var(--texto-cinza);
    font-size: 14px;
    line-height: 1.5;
}

#botao-criar {
    background-color: var(--cor-tag);
    color: var(--cor-primaria);
    border-radius: 50%;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 10;
}

#status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.status-card {
    background-color: var(--cor-tag);
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.status-valor {
    font-size: 36px; 
    font-weight: 800; 
    color: var(--cor-primaria);  
}

.status-titulo {
    font-size: 14px; 
    color: var(--texto-cinza);
    margin-top: 4px;
}

#mural-titulo {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 24px;
    justify-content: center;
    display: flex; 
    align-items: center;
    gap: 8px;
}

#mural-icone {
    color: var(--cor-primaria);
    font-size: 40px;
}

#mural-wrap {
    display: flex; 
    flex-direction: column; 
    gap: 30px;
}

#texto-sem-aviso {
    font-size: 25px;
    color: var(--texto-cinza);
    opacity: 0.5;
    text-align: center;
}

.mural-card {
    background-color: var(--cor-tag);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.mural-card-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 16px 16px 0px 0px;
    margin: -16px -16px 16px -16px;
}

.horario {
    font-size: 13px;
    margin: 0px;
    color: var(--texto-cinza);
}

.aviso-titulo {
    font-size: 18px; 
    font-weight: 600;
}

.aviso {
    font-size: 14px; 
    color: var(--texto-cinza); 
    line-height: 1.4;
}

.instrutor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px dashed #EAEAEA;
}

#instrutor-nome {
    display: inherit;
    gap: 6px;
    align-items: center;
    color: var(--texto-cinza);
    margin: 0px;
    font-size: 12px;
    font-style: italic;
}

#instrutor-icone {
    font-size: 20px;
}

#acoes-instrutor {
    gap: 5px;
    display: inherit;
}

#botao-editar, #botao-deletar {
    background-color: transparent;
    color: var(--texto-cinza);
}

#botao-editar > span {
    font-size: 20px;
}

#botao-deletar > span {
    font-size: 20px;
}

#desafio-nome {
    margin: 0px;
    color: var(--cor-desafio);
}

.titulo-desafio {
    background-color: var(--cor-fundo-desafio);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#anuncio-nome {
    margin: 0px;
    color: var(--cor-anuncio);
}

.titulo-anuncio {
    background-color: var(--cor-fundo-anuncio);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#informacao-nome {
    margin: 0px;
    color: var(--cor-informacao);
}

.titulo-informacao {
    background-color: var(--cor-fundo-informacao);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#lembrete-nome {
    margin: 0px;
    color: var(--cor-lembrete);
}

.titulo-lembrete {
    background-color: var(--cor-fundo-lembrete);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}