@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,assignment,bar_chart,campaign,chart_data,check_circle,chevron_left,chevron_right,delete,description,directions_bike,distance,download,edit,encrypted,exercise,group,group_add,location_on,login,logout,mail,mode_heat,password_2,pedal_bike,person,save,schedule,share,social_leaderboard,speed,sync");

:root {
    --cor-fundo-nav: white;
    --cor-borda-nav: #EEEEEE;
    --cor-inativa: #707070;
    --cor-primaria: #FF6517;
    --fonte-principal: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    border-width: 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    letter-spacing: 0.3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    display: block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

body {
    background-color: var(--cor-fundo);
    margin: 0px;
}

main {
    padding: 40px 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    border-top: 2px solid var(--cor-borda-nav);
    background-color: var(--cor-fundo-nav); 
    padding: 20px;
}

.nav-botao {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.nav-botao-ativo {
    color: var(--cor-primaria);
}

.nav-botao-inativo {
    color: var(--cor-inativa);
}

.nav-texto {
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
}