@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=bar_chart,chevron_left,chevron_right,directions_bike,distance,edit,exercise,group,location_on,mode_heat,person,share,social_leaderboard,sync");

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    display: block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

:root {
    --cor-fundo: #F9F9F9;
    --cor-inativa: #707070;
    --cor-card: white;
    --cor-borda: #D0D0D0;

    --cor-subtitulo: rgba(0, 0, 0, 0.5);
    --cor-primaria: #FF6517;
    --cor-segundaria: #FF822E;
    --cor-tercearia: #FF6B35;
    --fonte-principal: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    border-width: 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    letter-spacing: 0.3px;
}

body {
    background-color: var(--cor-fundo);
    margin: 0px;
}

button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

main {
    padding: 40px 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
}

figure {
    background-color: var(--cor-primaria);
    width: 110px; 
    height: 110px;
    border-radius: 50%;
    margin: 0px auto 16px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
}

#icone {
    font-size: 64px;
}

h1 {
    margin-bottom: 0px;
    font-size: 36px;
}

#academia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--cor-inativa);
    font-size: 20px;
    margin: 10px 0px;
}

#editar-conta {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border: 1px solid var(--cor-borda);
    font-weight: 600;
    color: var(--cor-inativa);
    padding: 6px 16px;
    border-radius: 20px;
    margin: 20px auto;
    gap: 6px;
}

#editar-conta-icone {
    font-size: 28px;
}

#estatisticas {
    margin: 40px 0px;
}

#estatisticas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#subtitulo {
    font-size: 26px;
    margin: 0px;
}

#estatisticas-data {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0px;
    gap: 10px;
    color: var(--cor-inativa);
}

#estatisticas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.relatorio-cartao {
    background-color: var(--cor-card);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.relatorio-cartao-full {
    grid-column: span 2;
}

.relatorio-cartao-icone {
    color: var(--cor-primaria);
    margin-bottom: 5px;
}

.relatorio-valor {
    color: var(--cor-primaria);
    font-size: 42px;
    margin: 0px 0px 5px 0px;
}

.relatorio-titulo {
    font-weight: 500;
    color: var(--cor-inativa);
    margin: 0px;
    font-size: 16px;
}

.botao1 {
    background-color: var(--cor-primaria);
    border-radius: 14px;
    padding: 18px;
    color: white;
}

.botoes {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    gap: 16px;
}

.botao2 {
    background: var(--cor-fundo); 
    border: 2px solid var(--cor-tercearia); 
    border-radius: 14px; 
    padding: 18px; 
    color: var(--cor-tercearia);
}