:root {
    --cor-fundo: #F9F9F9;
    --texto-cinza: #707070;
    --texto-escuro: black;
    --cor-card: white;
    --cor-borda: #D0D0D0;

    --cor-primaria: #FF6517;
    --cor-segundaria: #FF6B35;
}

header {
    text-align: center;
    margin-bottom: 24px;
}

header > h1 {
    margin-bottom: 0px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--texto-cinza);
}

#header-icone {
    font-size: 26px;
}

#relatorio {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    margin-bottom: 24px;
}

.card {
    background-color: var(--cor-card); 
    border-radius: 16px;
    padding: 14px 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #EDEDED;
}

.card > span {
    color: var(--cor-primaria); 
    margin-bottom: 10px;
    font-size: 28px;
}

.card-valor {
    color: var(--cor-primaria); 
    font-size: 28px;
    margin:0px 0px 5px 0px;
}

.card-valor > span {
    color: var(--cor-primaria);
    font-weight: 500;
    font-size: 14px;
}

.card-titulo {
    font-weight: 500;
    font-size: 16px;
    color: var(--texto-escuro); 
    margin: 0px;
}

.card-cheio {
    grid-column: span 2;
}

#chart {
    background-color: var(--cor-card);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #EDEDED;
}

#chart-titulo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#chart-titulo > span {
    color: var(--cor-primaria);
}

#chart-titulo > h3 {
    margin: 0px;
}

#botoes {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    gap: 16px;
}

#botao-compartilhar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(135deg, var(--cor-primaria) 0%, var(--cor-segundaria) 100%);
    box-shadow: 0px 0px 15px rgba(255, 101, 23, 0.5);
    border-radius: 14px;
    padding: 16px;
    color: white;
}

#botao-exportar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--cor-fundo); 
    border: 2px solid var(--cor-primaria); 
    border-radius: 14px; 
    padding: 16px; 
    color: var(--cor-primaria);
}
