:root {
    --cor-fundo: #F9F9F9;
    --texto-cinza: #707070;
    --cor-card: white;
    --cor-borda: #D0D0D0;

    --cor-primaria: #FF6517;
    --cor-segundaria: #FF6B35;
    --fonte-principal: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    border-width: 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    letter-spacing: 0.3px;
}

body {
    background-color: var(--cor-fundo);
    margin: 0px;
}

button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

main {
    padding: 40px 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 24px;
}

header > h1 {
    margin-bottom: 0px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--texto-cinza);
}

#relatorio {
    display: grid; 
    gap: 16px; 
    margin-bottom: 24px;
}

.card {
    background-color: var(--cor-card); 
    border-radius: 16px;
    padding: 14px 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.card-titulo {
    display: flex;
    align-items: center;
    color: var(--cor-primaria); 
    gap: 5px;
}

.card-titulo > span {
    font-size: 20px;
}

.card-titulo > p {
    font-weight: 600; 
    color: var(--cor-tercearia); 
    margin: 0px;
}

.card-valor {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}

.card-valor > span {
    color: var(--texto-cinza);
    font-size: 16px;
}

#botoes {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 700;
    gap: 16px;
    width: 100%;
}

#botao-compartilhar {
    background: linear-gradient(135deg, var(--cor-primaria) 0%, var(--cor-segundaria) 100%);
    border-radius: 14px;
    padding: 16px;
    color: white;
}

#botao-exportar {
    background: var(--cor-fundo); 
    border: 2px solid var(--cor-tercearia); 
    border-radius: 14px; 
    padding: 16px; 
    color: var(--cor-tercearia);
}
