:root {
    --cor-fundo: #F9F9F9;
    --cor-inativa: #707070;
    --cor-tag: white;
    --cor-borda: #D0D0D0;

    --cor-subtitulo: rgba(0, 0, 0, 0.5);
    --cor-primaria: #FF6517;
    --cor-segundaria: #FF822E;
    --cor-tercearia: #FF6B35;
    --fonte-principal: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    border-width: 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
    letter-spacing: 0.3px;
}

body {
    background-color: var(--cor-fundo);
    margin: 0px;
}

button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

main {
    padding: 40px 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--cor-primaria);
    color: white;
    padding: 24px;
}

#tags {
    display: flex;
    gap: 12px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-tag);
    color: var(--cor-primaria);
    padding: 4px 10px;
    border-radius: 20px;
}

.tag > p {
    margin: 0px;
}

#detalhes-card {
    background-image: linear-gradient(135deg, var(--cor-primaria), var(--cor-segundaria));
    border-radius: 12px; 
    margin-bottom: 16px;
    padding: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#icone {
    width: 56px; 
    height: 56px;
    color: var(--cor-fundo);
}

#detalhes-titulo {
    font-size: 30px; 
    font-weight: 800; 
    color: var(--cor-texto); 
    margin-bottom: 8px;
}

#detalhes-subtitulo {
    font-size: 16px; 
    color: var(--cor-descricao); 
    margin-bottom: 25px;
}

#detalhes-descricao {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px; 
    padding: 12px;
    margin-bottom: 20px;
}

#detalhes-descricao > p {
    font-size: 14px; 
    color: var(--cor-descricao); 
    line-height: 1.5;
}

#status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 28px;
}

.status-card {
    background-color: var(--cor-tag);
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.status-valor {
    font-size: 36px; 
    font-weight: 800; 
    color: var(--cor-primaria);  
}

.status-titulo {
    font-size: 14px; 
    color: var(--cor-descricao); 
    margin-top: 4px;
}

#mural {
    border-radius: 16px; 
    padding-top: 40px; 
}

#mural-titulo {
    font-size: 26px; 
    font-weight: 700; 
    color: var(--cor-texto); 
    margin-bottom: 24px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#mural-icone {
    width: 32px; 
    height: 32px; 
    color: var(--cor-primaria);
}

#mural-wrap {
    display: flex; 
    flex-direction: column; 
    gap: 12px;
}

#mural-card-vermelho {
    background-color: #ff5e0015;
    border-radius: 8px; 
    padding: 12px; 
    border: 2px solid #FFE5D9;
}

#mural-card-verde {
    background-color: #f0fdf4;
    border-radius: 8px; 
    padding: 12px; 
    border: 2px solid #22c50015;
}

#mural-card-azul {
    background-color: #eff6ff;
    border-radius: 8px; 
    padding: 12px; 
    border: 2px solid #3b83f630;
}

#mural-card-amarelo {
    background-color: #fef3c7;
    border-radius: 8px; 
    padding: 12px; 
    border: 2px solid #f59f0b30;
}

.mural-card-titulo {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 8px;
}

.nome-instrutor {
    font-size: 12px; 
    font-weight: 700; 
    color: var(--cor-primaria);
}

.anuncio-confirmacao {
    font-size: 12px; 
    font-weight: 700; 
    color: #22c55e;
}

.anuncio-informacao {
    font-size: 12px; 
    font-weight: 700; 
    color: #3b82f6;
}

.anuncio-lembrete {
    font-size: 12px; 
    font-weight: 700; 
    color: #f59e0b;
}

.horario {
    font-size: 12px; 
    color: var(--cor-descricao);
}

.aviso-titlo {
    font-size: 13px; 
    color: var(--cor-texto); 
    font-weight: 600;
    margin-bottom: 4px;
}

.aviso {
    font-size: 12px; 
    color: var(--cor-descricao); 
    line-height: 1.4;
}